@font-face {
    font-family: 'ISB';
    src: url(../Fonts/Inter_18pt-SemiBold.ttf);
}
@font-face {
    font-family:'RM' ;
    src: url(../Fonts/Rubik-Medium.ttf);
}
@font-face {
    font-family:'RR' ;
    src: url(../Fonts/Rubik-Regular.ttf);
}
@font-face {
    font-family:'RS' ;
    src: url(../Fonts/Rubik-SemiBold.ttf);
}
